@using SSOClient.Helpers

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <br/>
        <h1>Welcome</h1>
        <h2>Below are your account details:-</h2>
        <ul>
            <li>Name: @UserSession.UserName</li>
            <li>Email: @UserSession.Email</li>
        </ul>
    </div>
</div>
